<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Ну привет!</h2>
            </header>
            <p>
                Мы — команда людей, которые иногда знают что делают. Работаем уже
                целых 6 дней без серьёзных последствий. Наша миссия —
                сделать хоть что-нибудь полезное и не уснуть на созвоне.
                Мы гордимся тем, что у нас есть сайт. Это уже достижение.
            </p>
            <footer>
                <a asp-area=""
                   asp-controller="Services"
                   asp-action="Index"
                   class="button icon solid fa-info-circle">
                    Глянуть на наши "услуги"
                </a>
            </footer>
        </section>
    </div>
</div>